---
import { getCollection } from 'astro:content'
import BaseHead from '../../components/BaseHead.astro'
import Footer from '../../components/Footer.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import Header from '../../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts'
import Tag from '../../components/Tag.astro'

const posts = (await getCollection('blog'))
	.filter((post) => post.data.published)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

const tagCounts = posts
	.flatMap((post) => post.data.tags)
	.reduce(
		(acc: Record<string, number>, tag: string) => {
			acc[tag] = (acc[tag] || 0) + 1
			return acc
		},
		{} as Record<string, number>
	)

const uniqueTags = Object.keys(tagCounts)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
			image="/meta/kakashi.png"
		/>
	</head>
	<body class="">
		<Header />
		<main class="gutter mx-auto w-full max-w-[1024px] px-12 lg:px-0">
			<section>
				<div class="flex justify-center items-center flex-col mb-10">
					<h3 class="mb-4 text-xl font-sans font-bold">Tags:</h3>
					<div class="flex w-full flex-wrap gap-4">
						{
							uniqueTags.map((tag) => (
								<Tag
									link={`/blog/tags/${tag}`}
									title={tag}
									count={tagCounts[tag]}
								/>
							))
						}
					</div>
				</div>
				<hr class="m-8" />
				<ul class="flex flex-col list-none p-0">
					{
						posts.map((post) => (
							<li class="mb-8">
								<a
									href={`/blog/${post.slug}`}
									class="w-full relative py-1 text-3xl md:text-3xl font-semibold no-underline hover:opacity-70  hover:"
								>
									<span class="mr-1">{`>>`}</span>
									{post.data.title}
								</a>
								<div class="flex flex-wrap items-center my-2">
									<p class="text-sm md:text-md font-semibold text-soft">
										<FormattedDate date={post.data.date} />
									</p>
								</div>
								<p class="text-lg md:text-xl text-soft w-[85%] font-serif">
									{post.data.description}
								</p>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
