---
import { getCollection } from 'astro:content'
import BaseHead from '../../../components/BaseHead.astro'
import Footer from '../../../components/Footer.astro'
import FormattedDate from '../../../components/FormattedDate.astro'
import Header from '../../../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts'

export async function getStaticPaths() {
	const posts = await getCollection('blog')
	const uniqueTags = [...new Set(posts.flatMap((post) => post.data.tags))]

	return uniqueTags.map((tag) => ({
		params: { tag },
		props: { tag },
	}))
}

type Props = {
	tag: string
}

const { tag } = Astro.props

const posts = (await getCollection('blog'))
	.filter((post) => post.data.published && post.data.tags.includes(tag))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${tag} - ${SITE_TITLE}`}
			description={`${SITE_DESCRIPTION} - Posts tagged with "${tag}"`}
			image="/meta/kakashi.png"
		/>
	</head>
	<body>
		<Header />
		<main class="gutter mx-auto w-full max-w-[1024px] px-12 lg:px-0">
			<section>
				<h3 class="mb-8 text-2xl font-sans font-bold">
					{`Posts tagged with "${tag}"`}
				</h3>
				<hr class="m-8" />
				<ul class="flex flex-col list-none p-0">
					{
						posts.length > 0 ? (
							posts.map((post) => (
								<li class="mb-8">
									<a
										href={`/blog/${post.slug}`}
										class="w-full relative py-1 text-3xl md:text-3xl font-semibold no-underline hover:opacity-70"
									>
										<span class="mr-1">{`>>`}</span>
										{post.data.title}
									</a>
									<div class="flex flex-wrap items-center my-2">
										<p class="text-sm md:text-md font-semibold text-soft">
											<FormattedDate date={post.data.date} />
										</p>
									</div>
									<p class="text-lg md:text-xl text-soft w-[85%] font-serif">
										{post.data.description}
									</p>
								</li>
							))
						) : (
							<p class="text-lg font-sans text-center">
								No posts found for this tag.
							</p>
						)
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
