---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import Tag from '../components/Tag.astro'
import { getCollection } from 'astro:content'

type Props = CollectionEntry<'blog'>['data']

const { title, description, date, tags } = Astro.props

const posts = (await getCollection('blog')).filter(
	(post) => post.data.published
)

const tagCounts = posts
	.flatMap((post) => post.data.tags)
	.reduce(
		(acc, tag) => {
			acc[tag] = (acc[tag] || 0) + 1
			return acc
		},
		{} as Record<string, number>
	)
---

<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
			image="/meta/kakashi.png"
		/>
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={date} />
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
			<div class="mt-20 px-8 md:p-0 gutter mx-auto max-w-[70ch]">
				<p class="inline-block">Tags:</p>
				<div class="h-10 flex gap-4 flex-wrap items-center md:mb-0 mb-24">
					{
						tags &&
							tags.map((tag) => (
								<Tag
									title={tag}
									link={`/blog/tags/${tag}`}
									count={tagCounts[tag]}
								/>
							))
					}
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
